@use '../../scss/settings' as *;

.login-form {
  @include flex(column, center, center);
  margin-top: 30px;
  color: var(--secondary);

  &__err-msg {
    position: relative;
    top: -20px;
    @include flex(row, flex-start, center);
    align-self: end;
    @include font(12px, 14px);
    margin-bottom: 12px;
    font-style: italic;
    // background-color: firebrick;
    color: firebrick;
    // @include border-top-radius(8px);
    // @include border-bottom-radius(8px);
    padding: 4px;
  }

  &__checkbox {
    @include flex(row, space-between, center);
    align-self: start;
    margin: 10px 0;
    width: 100%;
    > a {
      @include font(14px, 18px);

      text-decoration: none;
      color: #00261c;
      opacity: 50%;
    }
  }
  &__btn {
    align-self: end;
    margin: 10px 0;
  }

  &__sign-up {
    @include flex(row, center, center);
    > p {
      opacity: 50%;
    }
    > a {
      text-decoration: none;
      color: inherit;
      font-weight: bold;
      margin-left: 8px;
    }
  }
}

@media (max-width: 530px) {
  .login-form {
    &__checkbox {
      > a {
        @include font(12px, 16px);
      }
    }
  }
}

.nothing {
  display: none;
}

.errmsg {
  background-color: firebrick;
  color: white;
  font-size: 12px;
  border-radius: 8px;
  width: 80%;
  text-align: center;
  padding: 6px;
  position: relative;
  top: -30px;
}
