.navbar {
  background-color: var(--primary);
  color: var(--secondary);
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  grid-template-areas: 'navbar__logo navbar__list navbar__login-btn';
  justify-content: space-between;
  align-items: center;
  border-bottom: 10px solid var(--secondary);
  min-height: 110px;
  width: 100%;
  position: relative;
}
.navbar__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  font-family: 'Orqquidea-Sans_(DEMO)';
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  grid-area: 'navbar__list';
}
.navbar a {
  color: inherit;
  text-decoration: none;
}
.navbar__list a {
  display: flex;
  align-items: center;
  padding: 10px;
}
.navbar li.active {
  border-bottom: 5px solid var(--secondary);
}
.navbar li:hover {
  background-color: var(--softPink);
}
.navbar__logo {
  padding-left: 30px;
  grid-area: 'navbar__logo';
}
.navbar__menu-burger {
  display: none;
  grid-area: 'navbar__menu-burger';
}
.navbar__link--login a {
  padding-bottom: 5px;
  padding-left: 20px;
  border-bottom: 5px solid var(--softPink);
}
.navbar__link--login {
  padding-right: 30px;
  justify-self: end;
  display: flex;
  align-items: center;
  grid-area: 'navbar__login-btn';
  width: 60px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  font-family: var(--font);
}

@media (max-width: 850px) {
  .navbar {
    grid-template-columns: 3fr 2fr 1f;
    grid-template-areas: 'navbar__logo navbar__login-btn navbar__menu-burger';
  }
  .navbar__list {
    display: none;
  }
  .navbar__menu-burger {
    display: inline;
  }
}
@media (max-width: 320px) {
  .navbar__link--login {
    display: none;
  }
}
