@use '../../scss/settings' as *;

.checkbox {
  @include flex(row, flex-start, center);
  @include font(14px, 18px);

  font-family: Bodoni72;
  margin: 6px;
  cursor: pointer;

  &__box {
    @include size(20px);

    border: 1px solid black;
    margin-right: 8px;
    pointer-events: none;

    svg {
      display: none;
    }

    &--active {
      svg {
        display: unset;
      }
    }
  }
}

.sign-up-form {
  @include font(8px, 14px);
}

.bold {
  font-weight: bold;
}

@media (max-width: 530px) {
  .checkbox {
    @include font(12px, 16px);
  }
}
