.footer {
  background: var(--softPink);
  color: var(--primary);
  min-height: 250px;
  width: 100%;
  display: flex;
  gap: 200px;
  justify-content: center;
  align-items: flex-start;
}
.footer__list {
  list-style-type: none;
  padding-left: 0;
  line-height: 30px;
  padding-top: 0px;
  margin-top: 0px;
  font-size: 14px;
}
.footer__contact {
  margin-top: 10px;
  grid-area: 'footer__contact';
}
.footer__follow {
  margin-top: 10px;
  grid-area: 'footer__follow';
}
.footer__legal {
  margin-top: 10px;
  grid-area: 'footer__legal';
}
.footer > div > h3 {
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: normal;
}
.footer > div > p {
  margin-top: 0px;
  font-size: 14px;
  line-height: 30px;
}
@media (max-width: 1000px) {
  .footer {
    gap: 100px;
  }
}
@media (max-width: 650px) {
  .footer {
    gap: 30px;
  }
}
@media (max-width: 480px) {
  .footer {
    display: grid;
    gap: 10px;
    grid-template-areas:
      'footer__contact'
      'footer__follow'
      'footer__legal';
  }
}
