@font-face {
  font-family: 'Bodoni';
  font-weight: 300 400 500;
  src: url('../../public/font/Bodoni-72-Regular.otf');
}

@font-face {
  font-family: 'Bodoni';
  font-weight: 600 700;
  src: url('../../public/font/Bodoni-72-Bold.ttf');
}

@font-face {
  font-family: 'Orqquidea';
  src: url('../../public/font/orqquidea-sans-bold.otf');
}
